/dts-v1/;

#include "topeet-rk3588-linux.dtsi"
#include "rk3588-linux.dtsi"
#include "topeet-screen-lcds.dts"
#include "topeet-camera-config.dtsi"

/ {
	model = "TOPEET RK3588 LP4 LP5 Board";
	compatible = "rockchip,rk3588-evb3-lp5-v10", "rockchip,rk3588";

        /* If hdmirx node is disabled, delete the reserved-memory node here. */
        reserved-memory {
                #address-cells = <2>;
                #size-cells = <2>;
                ranges;

                /* Reserve 128MB memory for hdmirx-controller@fdee0000 */
                cma {
                        compatible = "shared-dma-pool";
                        reusable;
                        reg = <0x0 (256 * 0x100000) 0x0 (128 * 0x100000)>;
                        linux,cma-default;
                };
        };

    //ADC按键
    adc_keys: adc-keys {
        compatible = "adc-keys";
        io-channels = <&saradc 1>;
        io-channel-names = "buttons";
        keyup-threshold-microvolt = <1800000>;
        poll-interval = <100>;

        vol-up-key {
            label = "volume up";
            linux,code = <KEY_VOLUMEUP>;
            press-threshold-microvolt = <17000>;
        };

        vol-down-key {
            label = "volume down";
            linux,code = <KEY_VOLUMEDOWN>;
            press-threshold-microvolt = <417000>;
        };

        menu-key {
            label = "menu";
            linux,code = <KEY_MENU>;
            press-threshold-microvolt = <890000>;
        };

        back-key {
            label = "back";
            linux,code = <KEY_BACK>;
            press-threshold-microvolt = <1235000>;
        };
    };

	/* HGD 5V */
	vcc_5v_en: vcc-5v-en {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v_en";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpio = <&gpio0 RK_PC4 GPIO_ACTIVE_HIGH>;
	};

	/* HGD 1v8 */
	vcc_1v8_en: vcc-1v8-en {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_en";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpio = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
	};

	/* HGD 3v3 */
	vcc_3v3_en: vcc-3v3-en {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_en";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpio = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
	};

	/* HGD 12V */
	vcc_12v_en: vcc-12v-en {
		compatible = "regulator-fixed";
		regulator-name = "vcc_12v_en";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpio = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
	};

	/* HGD-NGD_Vis DEBUG */
	NGD_HGD_vis_en: HGD-HGD-vis-en {
		compatible = "regulator-fixed";
		regulator-name = "HGD-HGD-vis-en";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpio = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
	};


	/* HGD OLED enable */
	HGD_OLEN_en: HGD-OLEN-en {
		compatible = "regulator-fixed";
		regulator-name = "HGD-OLEN-en";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpio = <&gpio2 RK_PC3 GPIO_ACTIVE_HIGH>;
	};

	/* HGD regulator dummy consumer */
	dummy_consumer {
		compatible = "dummy-consumer";
		status = "okay";
		vcc5-supply = <&vcc_5v_en>;
		vcc1-supply = <&vcc_1v8_en>;
		vcc3-supply = <&vcc_3v3_en>;
		vcc12-supply = <&vcc_12v_en>;
		debug-supply = <&NGD_HGD_vis_en>;
		oled-supply = <&HGD_OLEN_en>;
	};

        //wifi 
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		//*
		//* On the module itself this is one of these (depending
		// * on the actual card populated):
		// * - SDIO_RESET_L_WL_REG_ON
		// * - PDN (power down when low)
		 //* 1126  GPIO0_A6_dWL_REG_ON:主控唤醒WIFI模块 AP6255 12 pin
		 //  3588  GPIO2_B6_d/1V8   AP6255_WL_REG_ON  (XXXX)
		//reset-gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
		//reset-gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio2 RK_PB6 GPIO_ACTIVE_LOW>;
	};
        wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		//rockchip,grf = <&grf>;
		rockchip,grf = <&sys_grf>;
		//clocks = <&rk809 1>;
		//clock-names = "clk_wifi";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_wake_host>;
		wifi_chip_type = "ap6255";
		//WIFI,poweren_gpio = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>; 
		//WIFI,host_wake_irq = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
		WIFI,host_wake_irq = <&gpio2 RK_PB7 GPIO_ACTIVE_HIGH>;
		//WIFI,poweren_gpio = <&gpio2 RK_PB6 GPIO_ACTIVE_LOW>;
		//GPIO2_B7_d/1V8
		status = "okay";
		
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		brightness-levels = <
			0  20  20  21  21  22  22  23
			23  24  24  25  25  26  26  27
			27  28  28  29  29  30  30  31
			31  32  32  33  33  34  34  35
			35  36  36  37  37  38  38  39
			40  41  42  43  44  45  46  47
			48  49  50  51  52  53  54  55
			56  57  58  59  60  61  62  63
			64  65  66  67  68  69  70  71
			72  73  74  75  76  77  78  79
			80  81  82  83  84  85  86  87
			88  89  90  91  92  93  94  95
			96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};
};

//有线网卡配置

//&gmac0 {
 //       /* Use rgmii-rxid mode to disable rx delay inside Soc */
 //       phy-mode = "rgmii-rxid";
 //       clock_in_out = "output";
//
  //      snps,reset-active-low;
    //    /* Reset time is 20ms, 100ms for rtl8211f */
    //    snps,reset-delays-us = <0 20000 100000>;

  //      pinctrl-names = "default";
   //     pinctrl-0 = <&gmac0_miim
    //                 &gmac0_tx_bus2
    //                 &gmac0_rx_bus2
    //                 &gmac0_rgmii_clk
    //                 &gmac0_rgmii_bus>;
    //    tx_delay = <0x44>;
    //    /* rx_delay = <0x4f>; */

      //  phy-handle = <&rgmii_phy0>;
     //   status = "okay";
//};

//&gmac1 {
//        /* Use rgmii-rxid mode to disable rx delay inside Soc */
//        phy-mode = "rgmii-rxid";
//        clock_in_out = "output";

//        snps,reset-active-low;
        /* Reset time is 20ms, 100ms for rtl8211f */
//        snps,reset-delays-us = <0 20000 100000>;
//
 //       pinctrl-names = "default";
 //       pinctrl-0 = <&gmac1_miim
 //                    &gmac1_tx_bus2
  //                   &gmac1_rx_bus2
   //                  &gmac1_rgmii_clk
   //                  &gmac1_rgmii_bus>;

     //   tx_delay = <0x43>;
     //   /* rx_delay = <0x3f>; */

       // phy-handle = <&rgmii_phy1>;
       // status = "disable";
//};

&uart0 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart0m2_xfer>;
};

// 红外机芯 (topeet board, for NGD visible debug)
// @note Conflict with i2c4_m1
// &uart7 {
//         status = "okay";
//         pinctrl-names = "default";
//         pinctrl-0 = <&uart7m0_xfer>;
// };

// 红外机芯 (HGD board, for NGD visible debug)
// &uart1 {
//         status = "okay";
//         pinctrl-names = "default";
//         pinctrl-0 = <&uart1m1_xfer>;
// };

// HGD, connect to IR Motor.
&uart4 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart4m2_xfer>;
};

// HGD, connect to IR sensor.
&uart5 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&uart5m0_xfer>;
};

&i2c6 {
	pcf8563: pcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		#clock-cells = <0>;
	};
};
&i2c3 {
        status = "okay";
        //i2c-scl-rising-time-ns = <180>;
    	//i2c-scl-falling-time-ns = <30>;
    	clock-frequency = <100000>;
	    // BQ25792 充电芯片 0x6B
        bq25700: bq25700@6b {
                compatible = "ti,bq25790";
                reg = <0x6b>;
                //extcon = <&fusb0>;
                interrupt-parent = <&gpio2>;
                interrupts = <RK_PC4 IRQ_TYPE_LEVEL_LOW>;
       //         pinctrl-names = "default";
       //         pinctrl-0 = <&charger_ok_int>;
       //         ti,charge-current = <1500000>;
       //         ti,max-charge-voltage = <8704000>;
       //         ti,max-input-voltage = <20000000>;
       //         ti,max-input-current = <6000000>;
       //         ti,input-current-sdp = <500000>;
       //         ti,input-current-dcp = <2000000>;
        //        ti,input-current-cdp = <2000000>;
        //        ti,input-current-dc = <2000000>;
         //       ti,minimum-sys-voltage = <6700000>;
         //       ti,otg-voltage = <5000000>;
          //      ti,otg-current = <500000>;
          //      ti,input-current = <500000>;
          //      pd-charge-only = <0>;
                status = "okay";
    };
};
&pinctrl {
	/* WIFI_REG_ON脚的pinctrl的配置 */
	sdio-pwrseq {
		
		wifi_enable_h: wifi-enable-h {
			/* 对应上面的WIFI_REG_ON，关掉上下拉，防止不能拉高或拉低 */
			//rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
			//(XXXX)
			rockchip,pins = <2 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
						
		};
	};
	/* wifi节点 */
	wireless-wlan {
		/omit-if-no-ref/
		wifi_wake_host: wifi-wake-host {
			rockchip,pins = <2 RK_PB7 0 &pcfg_pull_down>;	//(XXXX)
		};
	};

	// hdmi {
	//         hdmirx_det: hdmirx-det {
	//                 rockchip,pins = <1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
	//         };
	// };
};

&sdio {
        max-frequency = <100000000>; //设置最大的频率，可以根据硬件设计改小
        supports-sdio;
		no-sd;
        no-mmc;
        bus-width = <4>; 
        disable-wp;
        cap-sd-highspeed; //此配置同 SD 卡功能，作为 SDIO 外设，也有区分是否为 highspeed 的 SDIO 外设
        cap-sdio-irq; //此配置标识该 SDIO 外设(通常是 Wifi)是否支持 sdio 中断，如果你的外设是 OOB 中断，请不要加入此项。支持哪种类型的中断请联系 Wifi 原厂确定。
        keep-power-in-suspend; //此配置表示是否支持睡眠不断电，请默认加入该选项。Wifi 一般都有深度唤醒的要求。
        mmc-pwrseq = <&sdio_pwrseq>; //此项是 SDIO 外设(一般是 Wifi)的电源控制。为必须项，否则 Wifi 无法上电工作。请参考下面的例子，晶振时钟和复位-使能的 GPIO 的选择按照实际板级硬件要求进行配置。
        non-removable; //此项表示该插槽为不可移动设备且此项为 SDIO 设备必须添加项。
        pinctrl-names = "default";
        pinctrl-0 = <&sdiom0_pins>;
        sd-uhs-sdr104; //此项配置决定该 SDIO 设备是否支持 SDIO3.0 模式。前提是需要 Wifi 的 IO 电压为 1.8v。同SDMMC配置
        status = "okay";
};

/* EVF */
&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3m0_xfer>;

	gz039pbc03:gz039pbc03@54 {
		compatible="gz,gz039pbc03";
		reg =<0x54>;
		reset-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;
		power-gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_HIGH>;
	};

	// lt9211c: lt9211c@29 {
	// 	compatible = "lontium,lt9211c";
	// 	reg = <0x29>;
	// 	reset-gpios = <&gpio4 RK_PC3 GPIO_ACTIVE_LOW>;
	// 	status = "okay";/*"okay";*/ /*disable for lt9211d to use the reset-gpios*/
	// };
};

&dsi1 {
	status = "okay";
	//rockchip,lane-rate = <1000>;
	dsi1_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		reg = <0>;
		backlight = <&backlight>;
		reset-delay-ms = <10>;
		enable-delay-ms = <35>;
		prepare-delay-ms = <6>;
		unprepare-delay-ms = <0>;
		disable-delay-ms = <20>;
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes  = <4>;
		dsi,channel = <0>;
		size,width = <120>;
		size,height = <170>;
		panel-init-sequence = [
		];

		panel-exit-sequence = [
		];

		disp_timings1: display-timings {
			native-mode = <&dsi1_timing0>;
			dsi1_timing0: timing0 {
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hfront-porch = <24>;
				hsync-len = <136>;
				hback-porch = <160>;
				vfront-porch = <3>;
				vsync-len = <6>;
				vback-porch = <29>;
				hsync-active = <1>;
				vsync-active = <1>;
				de-active = <1>;
				pixelclk-active = <1>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi1: endpoint {
					remote-endpoint = <&dsi1_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi1_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};
};

// &backlight {
// 	pwms = <&pwm1 0 25000 0>;
// 	status = "okay";
// };

// &pwm1 {
// 	status = "okay";
// };

&route_dsi1 {
	status = "okay";
	connect = <&vp3_out_dsi1>;
};

/*
 * mipi_dcphy1 needs to be enabled
 * when dsi0 is enabled
 */
&dsi1_in_vp3 {
	status = "okay";
};

&dsi1_in_vp2 {
	status = "disabled";
};

&mipi_dcphy1 {
	status = "okay";
};